<h1>Payment Calculation</h1>
<form action="/payment/results">
    <div>
     <label for="rate_inpute">
        APR
     </label>
    
     <input id="rate_input" type="float" name="apr" placeholder="E.g.5.42">
    </div>
    
    <div>
     <label for="year_input">
        Number of years
     </label>
    
     <input id="year_input" type="float" name="years" placeholder="How many years to repay">
    </div>
    
    <div>
     <label for="principal_input">
        Principal
     </label>
    
     <input id="principal_input" type="float" name="principal" placeholder="How much principal?">
    </div>
    
    <button>Calculate monthly payment</button>
</form>