<h1>Payment Calculation</h1>
<form action="/payment/results">
    <div>
     <label>
        APR
     </label>
    
     <input id="number_input" type="float" name="rate" placeholder="E.g.5.42">
    </div>
    
    <div>
     <label>
        Number of years
     </label>
    
     <input id="number_input" type="float" name="years" placeholder="How many years to repay">
    </div>
    
    <div>
     <label>
        Principal
     </label>
    
     <input id="number_input" type="float" name="principal" placeholder="How much principal?">
    </div>
    
    <button>Calculate monthly payment</button>
</form>