<h1>Random Calculation</h1>
<form action="/random/results">
    <div>
     <label>
        Minimum
     </label>
    
     <input id="number_input" type="float" name="minimum" placeholder="E.g.1.5">
    </div>
    
    <div>
     <label>
        Maximum
     </label>
    
     <input id="number_input" type="float" name="maximum" placeholder="E.g. 4.5">
    </div>
    
    <button>Pick random number</button>
</form>