<h1>Word Count  Calculation</h1>
<form action="/wordcount/results">
    <div>
     <label>
        Text
     </label>
    
     <input id="number_input" type="text" name="text_content" placeholder="Enter some text">
    </div>
    
    <div>
     <label>
        Special word
     </label>
    
     <input id="number_input" type="text" name="special_content" placeholder="Enter a particular word to count">
    </div>
    
    <button>Process next</button>
</form>